<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="text-center">Welcome To News Page </h1>

<form id="myForm">
  <div class="text-center my-5">
  <input class="py-2" type="text" id="country">
    <button  class="btn btn-primary">Go somewhere</button>
    </div>
    <div class="container">
           <div id="myNews" class="row"></div>
        </div>

</form>
    <script src="js/script.js"></script>
</body>
</html>